<div class="Page PageBrowse">
<main class="shell shellBrowse">
    <section class="pageHeader">
      <h1>Artists Picked For You</h1>
    </section>
    <section class="artistRow" id="recommendedArtists"></section>

    <section class="pageHeader" style="margin-top: 34px;">
      <div class="row" style="justify-content: space-between; width: 100%;">
        <h1 style="margin:0;">New Music</h1>
        <a class="muted" href="search.html">View All</a>
      </div>
    </section>
    <section class="albumRow" id="newMusic"></section>

    <section class="pageHeader" style="margin-top: 34px;">
      <div class="row" style="justify-content: space-between; width: 100%;">
        <h1 style="margin:0;">Browse Genres</h1>
        <a class="muted" href="search.html">View All</a>
      </div>
    </section>
    <section class="genreRow" id="genres"></section>
  </main>

</div>
